/src/main/resources/profiles/
/src/main/resources/users/
/src/main/resources/tweets/
/src/main/resources/blocklists/
/src/main/resources/followerlists/
/src/main/resources/followinglists/
/src/main/resources/groupchats/
/src/main/resources/messagedatas/
/src/main/resources/privatechats/
/src/main/resources/sessions/
