/src/main/resources/profiles/*.txt
/src/main/resources/users/*.txt
/src/main/resources/tweets/*.txt
/src/main/resources/blacklists/*.txt
/src/main/resources/followerlists/*.txt
/src/main/resources/followinglists/*.txt
/src/main/resources/blocklists/*.txt
